* {
  margin: 0;
  padding: 0;
  border: none;
  overflow: hidden;
}

html, body, form, fieldset, h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: #828282;
  background-color: #30302f;
}

a:link, a:visited {
  color: #FFD553;
}

a:hover, a:active {
  color: #e6cb79;
}

h1 {
  margin-top: 26px;
  font-weight: normal;
  font-size: 150%;
  letter-spacing: -1px;
  color: #f8cd4a;
}

#trialAlmostExpiredText {
  color: #FF4242;
}

#trialExpiredText {
  color: #FF4242;
}

#trial-time-left {
  width: 100%;
  height: 135px;
  text-align: center;
  background-color: #1e1e1d;
}

#trial-days-text {
  font-size: 80%;
  line-height: 140%;
  color: #949494;
}

#trial-days-text strong {
  color: #ffffff;
}

#trial-progress {
  width: 67%;
  height: 14px;
  overflow: visible;
  margin: 14px auto 0;
  text-align: center;
  background: #7C2929;
  border: 1px solid #D14E4E;
}

#trial-progress > span {
  display: block;
  height: 16px;
  margin: -1px 0 0 -1px;
  z-index: 100;
  height: 14px;
  border: 1px solid #71f65c;
  border-right: none;
  background: #06b025;
}

h2.lic-key {
  margin-top: 20px;
  letter-spacing: -.03em;
  font-weight: normal;
  font-size: 100%;
  color: #ffffff;
}

h2.attention {
  padding-left: 14px;
  margin-left: 6px;
  letter-spacing: -1px;
  line-height: 100%;
  font-weight: normal;
  font-size: 130%;
  color: #ffffff;
  background: url(images/triangle.png) no-repeat 0 6px;
}

h2.attention strong {
  color: #f8cd4a;
}

/* Feature description styles */

#ipm-dynamic {
  float: left;
  width: 66%;
  overflow: visible;
}

#ipm-content-inner {
  margin: 24px 0 0 8px;
  overflow: visible;
}

.darkbg {
  min-height: 256px;
  background: #151514;
}

.left-col-box {
  width: 28%;
  float: left;
  margin: 0 8px 0 0;
  text-align: center;
}

.right-col-benefits p {
  font-size: 85%;
  line-height: 125%;
}

.benefits-list {
  margin: 15px 0 10px 0;
  line-height: 145%;
  font-size: 100%;
  letter-spacing: -.03em;
  color: #ffffff;
}

.benefits-list > img {
  float: left;
  margin: 3px 6px 0 0;
}

.benefits-list + p {
  margin-bottom: 24px;
}

img.feat-img {
  float: left;
  margin: 0 12px 8px 0;
}

img.img-left {
  float: left;
  margin: 0 8px 4px 0;
}

h3.feature {
  margin: 14px 12px 12px 14px;
  font-size: 90%;
  color: #ffffff;
}

p.feat-desc {
  overflow: visible;
  margin: 8px 12px 0 14px;
  line-height: 120%;
  font-size: 75%;
  color: #D7D7D7;
}

p.feat-desc strong {
  color: #ffffff;
}

/* UE/UC bundle promo styles */
.prices {
  font-size: 90%;
  line-height: 110%;
}

.l_ueucPriceRetailAmt {
  font-weight: bold;
  color: #ffffff;
  text-decoration: line-through;
}

.l_ueucPriceAmt {
  font-weight: bold;
  color: #f8cd4a;
}

ul.benefitList {
  display: block;
  font-size: 65%;
  margin: 10px 0 6px;
  min-height: 78px;
  list-style-type:none;
}

ul.benefitList li {
  width: 48%;
  margin: 3px 0;
  padding-left: 0;
  overflow: visible;
  line-height: 100%;
  float: left;
}

.savingsText {
  width: 23%;
  float: left;
  margin: 12px 14px 0 0;
  line-height: 110%;
  text-align: center;
  font-size: 75%;
  color: #8CE855;
}

.l_ueucSavingsPercent {
  font-size: 115%;
  font-weight: bold;
}

/* Right col styles */

#phone-order {
  width: 188px;
  min-height: 36px;
  margin: 11px auto;
  line-height: 100%;
  font-size: 70%;
  color: #949494;
}

#ipm-action,
#ipm-action-footer {
  width: 34%;
  float: right;
  text-align: center;
}

#ipm-action-footer {
  text-align: right;
  font-size: 70%;
  margin-bottom: 18px;
}

#ipm-action-footer > p {
  margin: 6px 28px 0 0;
}

a.button,
a.button:link,
a.button:visited,
a.button_sm,
a.button_sm:link,
a.button_sm:visited {
  display: inline-block;
  height: 26px;
  width: 188px;
  margin-top: 5px;
  line-height: 26px;
  letter-spacing: -.03em;
  text-decoration: none;
  font-size: 90%;
  text-align: center;
  color: #000000;
  background: #f8cd4a;
}

a.button:hover,
a.button:active,
a.button_sm:hover,
a.button_sm:active {
  background: #FAC21B;
}

a.button_sm:link,
a.button_sm:visited,
a.button_sm:hover,
a.button_sm:active {
  width: 92px;
}

a.activate,
a.activate:link,
a.activate:visited {
  background: #91c12d;
}

a.activate:hover,
a.activate:active {
  background: #93cc2c;
}

img.appbox { max-width: 110px; }
img.multiplat { max-width: 69px; }
.lic-key img { max-width: 18px; }
.benefits-list img { max-width: 24px; }

#aa-boxes {
  float: left;
  max-width: 51%;
  padding-right: 10px;
}

#aa-text {
  float: right;
  max-width: 45%;
  text-align: left;
}

#aa-text .benefits-list {
  font-size: 90%;
}

#aa-text .benefits-list img {
  clear: both;
  max-width: 20px;
  padding-bottom: 5px;
}

#aa-boxes img {
  max-width: 100%;
  display: block;
  margin: 8px 0 0;
  padding-bottom: 30px;
}

.aa-promo p {
  margin: 0 0 10px;
  clear: both;
  text-align: center; 
  font-size: 12px;
  line-height: 125%;
}

.aa-promo div.aa_li {
  margin: 0 0 5px 0;
  padding: 0 0 0 24px;
  line-height: 115%;
  background: url(images/check.png) no-repeat 0 2px;
  background-size: 20px;
}

.aa-promo div:last-child {
  margin-bottom: 0;
}

/* 115% */
.l_support.es, .l_version.es 
{ font-size: 115%; }

/*--- 95% ---*/
.l_f_findReplace.ptb,
.l_f_Bookmarks.ko,
.l_f_FTPHead.jp,
.l_f_findReplace.jp,
.l_phoneOrder.ptb,
.l_support.fr, .l_version.fr
{ font-size: 95%; }

/*--- 90% ---*/
.l_f_Compare.de,
.l_f_Themes.ko,
.l_f_Bookmarks.de,
.l_f_ScriptingHead.de,
.l_f_SortHead.es,
.l_f_Sort.it, .l_f_Sort.jp,
.l_f_Templates.de, .l_f_Templates.fr, .l_f_Templates.es, .l_f_Templates.it, 
.l_f_FTPHead.es,
.l_f_FTP.es, .l_f_FTP.it,
.l_f_findReplaceHead.it, 
.l_f_findReplace.es, .l_f_findReplace.it,
.l_f_CompareHead.ptb, .l_f_CompareHead.fr,
.l_ueucSavingsPercent.fr,
.l_bftFreeUpgrades.de,
.l_aaVeracode.ptb,
.l_aaAllTools.fr, .l_aaWinMacLinux.fr, .l_aaFreeUpgrades.fr, .l_aaVeracode.fr,
.l_aaWinMacLinux.es, .l_aaFreeUpgrades.es, .l_aaVeracode.es, .l_aaActivations.es
{ font-size: 90%; }

/*--- 85% ---*/
.l_f_FTPHead.ptb,
.l_f_Bookmarks.fr, .l_f_Bookmarks.jp,
.l_f_ScriptingHead.fr, .l_f_ScriptingHead.it,
.l_f_findReplaceHead.jp,
.l_f_Sort.fr,
.l_f_TemplatesHead.es, .l_f_TemplatesHead.it, 
.l_f_ThemesHead.fr,
.l_f_findReplace.fr, 
.l_licenseApp.es,
.l_support.ptb, .l_version.ptb,
.l_aaAllTools.it, .l_aaWinMacLinux.it, .l_aaFreeUpgrades.it, .l_aaVeracode.it, .l_aaActivations.it,
.l_aaAllTools.ko, .l_aaWinMacLinux.ko, .l_aaFreeUpgrades.ko, .l_aaVeracode.ko, .l_aaActivations.ko
{ font-size: 85%; }

/*--- 80% ---*/
.l_f_ThemesHead.de,
.l_f_Themes.de,
.l_upgradeueuc.it,
.l_licenseApp.fr,
.l_f_FTP.jp,
.l_bftTechSupport.fr, .l_bftTechSupport.it,
.l_bftMultiPlatform.fr, .l_bftMultiPlatform.it, .l_bftMultiPlatform.jp,
.l_bftThreeInstalls.fr,
.l_bftUCProFree.fr, .l_bftUCProFree.it,
.l_aaWinMacLinux.de, .l_aaFreeUpgrades.de, .l_aaVeracode.de, .l_aaActivations.de,
.l_aaActivations.fr
{ font-size: 80% }

/*--- 75% ---*/
.l_f_CompareHead.jp,
.l_ueucPriceText.fr,
.l_ueucPriceRetailText.de, .l_ueucPriceRetailText.fr, 
.l_upgradeueuc.fr,
.l_bftFreeUpgrades.fr,
.l_bftUCProFree.jp,
.l_aaAllTools.de,
.l_aaAllTools.es, 
.l_aaAllTools.jp, .l_aaWinMacLinux.jp, .l_aaFreeUpgrades.jp
{ font-size: 75%; }

/*--- 70% ---*/
.l_f_Themes.jp,
.l_f_Themes.fr,
.l_f_SortHead.fr,
.l_upgradeueuc.jp,
.l_bftFreeUpgrades.it,
.l_bftThreeInstalls.it,
.l_aaVeracode.jp
{ font-size: 70%; }

/*--- 65% ---*/
.l_aaActivations.jp 
{ font-size: 65%; }

/*--- lh 90% ---*/
.l_f_Bookmarks.de, .l_f_Bookmarks.fr, .l_f_Bookmarks.jp,
.l_f_Templates.fr 
{ line-height: 90%; }